.fallback {
    background-color: #484f58;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title {
        font-size: 32px;
        text-align: center;
    }
    &__description {
        font-size: 24px;
        text-align: center;
    }
}
